/* hero.css */
.hero {
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
     position: relative;
     z-index: 1;
    padding: 20px;
}

@media(min-width: 765px){
    .hero{
        height: '100vh'

    }
}

.hero-content {
    width: 100%;
}

.hero h1 {
   text-transform: uppercase;  
   font-size: 50px;
    padding: 20px 0;
    font-weight: 900;
}

.hero p{
    font-size: 18px;
    padding: 10px 0;
}

.hero-btn{
    font-family: Chakra Petch;
    width: 100%;
    display: flex; /* Ensure the container is a flexbox */
    justify-content: flex-start; /* Align buttons to the start of the row */
    align-items: center; /* Vertically center the buttons */
    gap: 20px; /* Add space between buttons */
    padding: 20px;
}

@media(max-width: 576px){
    .hero-btn{
       
        display: flex; /* Ensure the container is a flexbox */
        flex-wrap: wrap;
    }

}
