.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    padding: 20px;
    opacity: 1; /* Ensure it's visible by default */
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Slight movement upwards */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applying the fade-in animation */
.fade-in {
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Remove the opacity setting here to prevent content from hiding initially */
.articles {
    transition: opacity 1s ease;
}

.article-first-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.article-first-row::before {
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #11161E;
    left: 0;
    z-index: -1;
}

.article-first-content {
    width: 100%;
    padding: 20px;
}

.content-row {
    display: flex;
    padding: 20px;
    font-weight: 600;
}

.title-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 40px;
}

.title-news h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.title-news button {
    border: 0;
    outline: 0;
    width: 170px;
    height: 60px;
    padding: 5px;
    color: #fff;
    background: #F32C46;
    text-transform: uppercase;
    border-radius: 7px;
}

.content-container {
    position: relative;
    z-index: 2;
    color: #fff;
}

.content-first-image {
    width: 100%;
    height: 100%;
}

.content-first-image img {
    width: 100%;
    transition: transform 0.1s 0.1s ease;
}

.content-first-image img:hover {
    transform: scale(1.05);
    z-index: 1;
    cursor: pointer;
}

.below-first-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-merch{
    border: 0;
    outline: 0;
    width: 80px;
    height: 50px;
    color: #fff;
    background: #F32C46;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 16px;
    font-family: Chakra Petch;
}

.last-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 7px 0;
    transition: color 0.3s ease-in-out;
}
.last-text p{
    font-family: Chakra Petch;

}

.content-container:hover .last-text {
    color: #F32C46;
}

.article-news {
    width: 100%;
    padding: 20px;
}

.news-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
}

.news-image {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    transition: transform 0.2s ease;
}
.news-image p{
    font-family: Chakra Petch;

}

.news-image:hover {
    transform: scale(1.1);
    color: #F32C46;
}

.news-image img {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

/* Media query for responsiveness */
@media (max-width: 575px) {
    /* .article-first-row::before {
        width: 100%;
        height: 50%;
        bottom: 20%;
        background-color: #11161E;
    } */

    .title-news {
        display: flex;
        flex-wrap: wrap;
    }

    .title-news button {
        width: 350px;
        height: 60px;
    }

    .last-text {
        font-size: 16px;
    }

    .news-content {
        display: flex;
        flex-wrap: wrap;
    }
}
