.award-container{
    width: 100%;
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.award-container.scrolled-overlay {
    opacity: 1;
    animation: showOverlay 0.5s forwards;
}

.award-container.scrolled-content .award-content .award-text,
.award-container.scrolled-content .award-content .awards {
    opacity: 0;
}

.award-container.scrolled-content .award-content .award-text {
    animation: fadeInText 1s forwards;
    animation-delay: 0.5s; /* Delay for text to appear after overlay */
}

.award-container.scrolled-content .award-content .awards {
    animation: fadeInImage 1s forwards;
    animation-delay: 1.5s; /* Delay for image to appear after text */
}

@keyframes showOverlay {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInImage {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.award-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.award-content::before{
    content: '';
    background-color: #11161E;
    height: 100%;
    top: 0;
    left: 0;
    width: 45%;
    
    position: absolute;
    z-index: -1;
}

.award-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* width: 100%; */
    /* margin: auto; */
    text-align: center;
}

.award-text h1{
   font-size: 40px;
   font-weight: 900;
   padding: 10px;
   text-transform: uppercase;
   
}

.award-text p{
    font-size: 18px;
    padding: 10px 0;
   
}

.awards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
}

.medal{
    width: 100%;
}
.medal img{
    width: 100%;
}

.awards p{
    font-family: Chakra Petch;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 600;
}